@import "tailwindcss";

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}
